<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.HospitalizationMapper">
  <resultMap id="BaseResultMap" type="com.hospital.entity.Hospitalization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="bed" jdbcType="VARCHAR" property="bed" />
    <result column="door" jdbcType="VARCHAR" property="door" />
    <result column="patientid" jdbcType="INTEGER" property="patientid" />
  </resultMap>
  <sql id="Base_Column_List">
    id,floor, bed, door, patientid
  </sql>
  <select id="findAll" resultType="com.hospital.entity.Hospitalization">
    select h.*,p.name as patientname from hospitalization h
    left join patient p on p.id=h.patientid
    where 1=1
    <if test="patientids !=null">
      and h.patientid in
      <foreach collection="patientids" item="patientid" index="index" open="(" close=")" separator=",">
        #{patientid}
      </foreach>

    </if>
    <if test="intime !=null and intime!=''">
      and h.intime=#{intime}
    </if>
    order by h.id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.hospital.entity.Hospitalization">
    select *
    from hospitalization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPatientId" parameterType="java.lang.Integer" resultType="com.hospital.entity.Hospitalization">
    select *
    from hospitalization
    where patientid = #{patientid}
  </select>
  <select id="findTheLastHospitalization" resultType="com.hospital.entity.Hospitalization" parameterType="Integer">
    SELECT  h.*,p.name as patientname from hospitalization h
                                             left join patient p on p.id=h.patientid where h.id=#{id};
  </select>
  <select id="findOtherHospitalization" resultType="com.hospital.entity.Hospitalization" parameterType="com.hospital.entity.Hospitalization">
    SELECT  h.*,p.name as patientname from hospitalization h
                                             left join patient p on p.id=h.patientid where h.id &lt;&gt; #{id} and patientid=#{patientid};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospitalization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.entity.Hospitalization">
    insert into hospitalization (id,floor,
      bed, door, patientid,intime,outtime,medicalname
      )
    values (#{id,jdbcType=INTEGER}, #{floor,jdbcType=VARCHAR},
      #{bed,jdbcType=VARCHAR}, #{door,jdbcType=VARCHAR}, #{patientid,jdbcType=INTEGER},
      #{intime},#{outtime},#{medicalname}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital.entity.Hospitalization">
    insert into hospitalization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="bed != null">
        bed,
      </if>
      <if test="door != null">
        door,
      </if>
      <if test="patientid != null">
        patientid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="bed != null">
        #{bed,jdbcType=VARCHAR},
      </if>
      <if test="door != null">
        #{door,jdbcType=VARCHAR},
      </if>
      <if test="patientid != null">
        #{patientid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.entity.Hospitalization">
    update hospitalization
    <set>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="bed != null">
        bed = #{bed,jdbcType=VARCHAR},
      </if>
      <if test="door != null">
        door = #{door,jdbcType=VARCHAR},
      </if>
      <if test="patientid != null">
        patientid = #{patientid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.entity.Hospitalization">
    update hospitalization
    set
      floor = #{floor,jdbcType=VARCHAR},
      bed = #{bed,jdbcType=VARCHAR},
      door = #{door,jdbcType=VARCHAR},
      patientid = #{patientid,jdbcType=INTEGER},
      intime=#{intime},
      outtime=#{outtime}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>